<h1 align=center><font size = 5>Venues related to income</font></h1>

## Project description 
For this project I want to know if there is a relationship between the average
income in a city area and the number and types of venue
around the same area. 
This can be interesting because we can come with some sociological hypothesis 
and some ideas about what kinds if businesses work in certain areas.

## Data

The data used related to de average income in a particular zone i

In [1]:
!pip install BeautifulSoup4
!pip install lxml
!pip install requests
!pip install geopy

Requirement already satisfied: BeautifulSoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from BeautifulSoup4) (2.0.1)
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.1)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2.9)
Requirement already satisfied: geopy in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.22.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geopy) (1.50)

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [3]:
from geopy.geocoders import Nominatim
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
import folium # map rendering library
import json
from pandas import json_normalize

I have downloaded Houston city average income per county data from the government web page and uploaded to my labs, I have named the file hdata, the following code is for reading the data csv:

In [4]:
dfHouston=pd.read_csv('hdata.csv',skiprows=1)
dfHouston

                    Median Household Income by County Unnamed: 1  Unnamed: 2
0                                      Autauga County    $58,786  +/- $2,972
1                                      Baldwin County    $55,962  +/- $1,204
2                                      Barbour County    $34,186  +/- $2,552
3                                         Bibb County    $45,340  +/- $5,618
4                                       Blount County    $48,695  +/- $2,703
..                                                ...        ...         ...
63                                      Walker County    $41,748  +/- $1,803
64                                  Washington County    $40,794  +/- $3,442
65                                      Wilcox County    $27,237  +/- $4,033
66                                     Winston County    $38,504  +/- $3,600
67  Source(s): U.S. Census Bureau, 2014-2018 Ameri...        NaN         NaN

[68 rows x 3 columns]

In [6]:
#Here I drop the las roe of the df cthat contains a disclaimer 
dfHouston=dfHouston.drop(axis=0,index=67)
dfHouston

   Median Household Income by County Unnamed: 1  Unnamed: 2
0                     Autauga County    $58,786  +/- $2,972
1                     Baldwin County    $55,962  +/- $1,204
2                     Barbour County    $34,186  +/- $2,552
3                        Bibb County    $45,340  +/- $5,618
4                      Blount County    $48,695  +/- $2,703
..                               ...        ...         ...
62                 Tuscaloosa County    $52,221  +/- $1,240
63                     Walker County    $41,748  +/- $1,803
64                 Washington County    $40,794  +/- $3,442
65                     Wilcox County    $27,237  +/- $4,033
66                    Winston County    $38,504  +/- $3,600

[67 rows x 3 columns]

{'Id': 'f3812fbf-b3c1-4e29-94ba-c7459d885bcd',
 'Url': 'www.epdata.es/municipios-mas-renta-per-capita/f3812fbf-b3c1-4e29-94ba-c7459d885bcd',
 'Titulo': 'Los municipios con más renta per cápita',
 'Subtitulo': '',
 'Datos': {'Metricas': [{'Id': 0,
    'Nombre': 'RENTA BRUTA MEDIA',
    'SonDatosNumericos': True,
    'Fuente': 'AEAT',
    'Clasificacion': None,
    'Unidad': 'Euros per cápita',
    'Escala': 'Unidades',
    'EscalaFactorPotencia10': 0,
    'Datos': [{'Agno': 2017,
      'Periodo': 'Año',
      'Parametro': 'Alcobendas',
      'Valor': 52347,
      'Estado': None,
      'Notas': None},
     {'Agno': 2017,
      'Periodo': 'Año',
      'Parametro': 'Alella',
      'Valor': 48862,
      'Estado': None,
      'Notas': None},
     {'Agno': 2017,
      'Periodo': 'Año',
      'Parametro': 'Avinyonet del Penedès',
      'Valor': 57843,
      'Estado': None,
      'Notas': None},
     {'Agno': 2017,
      'Periodo': 'Año',
      'Parametro': 'Boadilla del Monte',
      'Valor': 55885,
      'Estado': None,
      'Notas': None},
     {'Agno': 2017,
      'Periodo': 'Año',
      'Parametro': 'Cabrera de Mar',
      'Valor': 44887,
      'Estado': None,
      'Notas': None},
     {'Agno': 2017,
      'Periodo': 'Año',
      'Parametro': 'Cabrils',
      'Valor': 50286,
      'Estado': None,
      'Notas': None},
     {'Agno': 2017,
      'Periodo': 'Año',
      'Parametro': 'Castelldefels',
      'Valor': 44593,
      'Estado': None,
      'Notas': None},
     {'Agno': 2017,
      'Periodo': 'Año',
      'Parametro': 'Majadahonda',
      'Valor': 51746,
      'Estado': None,
      'Notas': None},
     {'Agno': 2017,
      'Periodo': 'Año',
      'Parametro': 'Matadepera',
      'Valor': 55579,
      'Estado': None,
      'Notas': None},
     {'Agno': 2017,
      'Periodo': 'Año',
      'Parametro': 'Pozuelo de Alarcón',
      'Valor': 72899,
      'Estado': None,
      'Notas': None},
     {'Agno': 2017,
      'Periodo': 'Año',
      'Parametro': 'Rocafort',
      'Valor': 48061,
      'Estado': None,
      'Notas': None},
     {'Agno': 2017,
      'Periodo': 'Año',
      'Parametro': 'Rozas de Madrid, Las',
      'Valor': 50166,
      'Estado': None,
      'Notas': None},
     {'Agno': 2017,
      'Periodo': 'Año',
      'Parametro': 'Sant Cugat del Vallès',
      'Valor': 52053,
      'Estado': None,
      'Notas': None},
     {'Agno': 2017,
      'Periodo': 'Año',
      'Parametro': 'Sant Just Desvern',
      'Valor': 51915,
      'Estado': None,
      'Notas': None},
     {'Agno': 2017,
      'Periodo': 'Año',
      'Parametro': 'Sant Vicenç de Montalt',
      'Valor': 48436,
      'Estado': None,
      'Notas': None},
     {'Agno': 2017,
      'Periodo': 'Año',
      'Parametro': 'Teià',
      'Valor': 43672,
      'Estado': None,
      'Notas': None},
     {'Agno': 2017,
      'Periodo': 'Año',
      'Parametro': 'Tiana',
      'Valor': 48965,
      'Estado': None,
      'Notas': None},
     {'Agno': 2017,
      'Periodo': 'Año',
      'Parametro': 'Torrelodones',
      'Valor': 50234,
      'Estado': None,
      'Notas': None},
     {'Agno': 2017,
      'Periodo': 'Año',
      'Parametro': 'Vallromanes',
      'Valor': 45568,
      'Estado': None,
      'Notas': None},
     {'Agno': 2017,
      'Periodo': 'Año',
      'Parametro': 'Villanueva de la Cañada',
      'Valor': 49234,
      'Estado': None,
      'Notas': None}]}]}}